@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

#contact-section {
  padding: 50px;
  background: linear-gradient(#111111, #3a0086);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#contact-section h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-details {
  position: absolute;
  padding-top: 30px;
  top: 160px;
  left: 50px;
  font-size: 1.2em;
}

.contact-details p {
  margin-bottom: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-right: 50px;
  padding-top: 140px;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 1em;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  color: #000 !important;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #ff4057;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #ff3047;
}

.popup {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4057;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

.error {
  color: red;
  font-size: 15px;
  margin-top: 0px;
}

.map-container {
  width: 100%;
  max-width: 600px;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 250px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
 
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}